.nav-bar{
    line-height: 32px;
    text-shadow: 0px 0px white, 0px 32px #F70B6C ;
    overflow: hidden;
    color: #0000;
    transition:.4s;
}
.nav-bar::after{
    border: 2px solid red;
}
.nav-bar:hover{
    text-shadow: 0px 0px #F70B6C,0px -32px white ;
    border-bottom: 2px solid #F70B6C;
}
.header-text::after{
    content:'ELECTRA WAREHOUSE';
    color: #F70B6C;
    top:0;
    right:0;
    position: absolute;
    animation: typing 6s linear infinite;
}
.header-text{
    position: relative;
    color: transparent;

}
@keyframes typing{
   0%{
       content: 'E|';
       font-weight: bold;
   }
   4%{
       content: 'EL|';
   }
   8%{
       content: 'ELE|';
   }
   12%{
       content: 'ELEC|';
   }
   16%{
       content: 'ELECT|';
   }
   20%{
       content: 'ELECTR|';
   }
   24%{
       content: 'ELECTRA|';
   }
   28%{
       content: 'ELECTRA |';
   }
   32%{
       content: 'ELECTRA W|';
   }
   36%{
       content: 'ELECTRA WA|';
   }
   40%{
       content: 'ELECTRA WAR|';
   }
   44%{
       content: 'ELECTRA WARE|';
   }
   48%{
       content: 'ELECTRA WAREH|';
   }
   52%{
       content: 'ELECTRA WAREHO|';
   }
   56%{
       content: 'ELECTRA WAREHOU|';
   }
   60%{
       content: 'ELECTRA WAREHOUS|';
   }
   61%,83%{
       content: 'ELECTRA WAREHOUSE|';
   }
   84%{
       content: 'ELECTRA WAREHOUS|';
   }
   85%{
       content: 'ELECTRA WAREHOU|';
   }
   86%{
       content: 'ELECTRA WAREHO|';
   }
   87%{
       content: 'ELECTRA WAREH|';
   }
   88%{
       content: 'ELECTRA WARE|';
   }
   89%{
       content: 'ELECTRA WAR|';
   }
   90%{
       content: 'ELECTRA WA|';
   }
   91%{
       content: 'ELECTRA W|';
   }
   92%{
       content: 'ELECTRA |';
   }
   93%{
       content: 'ELECTRA|';
   }
   94%{
       content: 'ELECTR|';
   }
   95%{
       content: 'ELECT|';
   }
   96%{
       content: 'ELEC|';
   }
   97%{
       content: 'ELE|';
   }
   98%{
       content: 'EL|';
   }
   99%{
       content: 'E|';
   }
   100%{
    content: '|';
}
   
  
}
/* .header-text {
    line-height: 1.2em;
    color: #0000;
    text-shadow: 0px 0px #e31212, 0px 1.2em #1160d9;
    overflow: hidden;
    transition: 0.3s;
  }
  .header-text:hover {
    text-shadow: 0 -1.2em #0000, 0 0 #1160d9;
  } */
  